streamlit
pdfminer.six
python-docx
scikit-learn
pandas
numpy
python-dotenv
openai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz
spacy


PyPDF2
openai
scikit-learn

matplotlib
seaborn


